/*以下為Banner區 CSS*/
.map-container{
    // position: relative;
    width: 100%;
    height: 80vh;
    border-bottom: 15px solid #00ff66;
    // overflow: hidden;
    #map{ 
        width: 100%;
        height: 100%;
        z-index: 0;
        background-size: cover;
        
    }
}

/*以上為Banner區 CSS*/



/*以下為簡介區 CSS*/
.location-item{
    margin-top: 6rem;
    position: relative;
    .slogan{
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 5.625rem;
        writing-mode: vertical-lr; //文字垂直
        color: #666666;
        z-index: -1;
        span:last-child{
            margin-top: 11.25rem;
        }
    }

    .country{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        h2{
            margin: 0 auto;
            font-size: 5.766rem;
            color: #00ff66;
            span{
    
                font-size: 2.766rem;
            }
        }
        h3{
            margin-left: 36.1%;
            font-size: 2.766rem;
            // text-align: center;
        }
    }

    .other-info{
        position: relative;
        width: 100%;
        margin-top: 6rem;

        .info-list{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 56.25vw;
            z-index: 2;
            // background-color: rgb(5, 5, 32);
            // background-image: url(../img/hotspot/hotspot-background-1920.jpg);
        
            .info-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 9.3755rem;
                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3.125rem;
                    height: 3.125rem;
                    background: transparent;
                    border: 1px solid #FFFFFF;
                    border-radius: 50%;
                    color: #FFFFFF;
                    font-size: 1.64rem;
                }
                &.feature{
                    top: 10%;
                    left: 40%;
                }
                &.kp{
                    top:28%;
                    left: 18%;
                }
                &.probability{
                    top:45%;
                    left: 30%;
                }
                &.traffic{
                    top:45%;
                    left: 55%;
                }
                &.people{
                    top:38%;
                    left: 75%;
                }
                &.period{
                    top:10%;
                    left: 55%;
                }
                .info{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: 1rem;
                    margin-bottom: 0;
                    font-size: 1.4rem;
                    color: #000000;
                    font-weight: 600;
                    background-color: #cccccc;
                    border-radius: 3px; 
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 0;
                        border-style: solid;
                        border-color: #cccccc transparent;
                        border-width: 0px 20px 20px;
                        top: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                    }                  
                }
            }
        }
    }

    .introduce{
        margin-top: 6rem;
        h2{
            font-size: 2.625rem;
            color: #00ff66;
        }
        p{
            font-size: 1.5rem;
            letter-spacing: 3px;
            line-break: anywhere;
        }
    }

}


/* 以下為極光熱點其他資訊按鈕動畫 */
@for $i from 1 through 6{
    .anim-#{$i}{
        animation-name: float-#{$i};
        animation-direction: alternate; //來回
        animation-duration: 5+random()*3s;
        animation-iteration-count: infinite;
    }
}
@for $i from 1 through 6 {
    @keyframes float-#{$i} {
        0%{
            transform: rotateX(0);
        }
        50%{
            // transform: rotateZ(-2+random()*(-2deg)) translateY(-5+random()*(-10px));
            transform: rotateZ(random()*(-2deg)) translateY(5+random()*(12px));
            
        }
        100%{
            // transform: rotateZ(2+random()*2deg) translateY(5+random()*(10px));
            transform: rotateZ(random()*(2deg)) translateY(-5+random()*(-12px));
        }
       
    }
    
}
@keyframes info-button-list-anim{
    0%{
        transform:translateY(0);
    }
    25%{
        transform:translateY((-10px));
    }
    50%{
        transform:translateY(0);
    }
    75%{
        transform:translateY((10px));
    }
    100%{
        transform:translateY(0);
    }
}
/* 以上為極光熱點資訊按鈕動畫 */

@media (max-width:1400px) {
    html{
        font-size: 14px;
    }
}

@media (max-width:1200px) {
    html{
        font-size: 12px;
    }
}

@media (max-width:992px) {
    .location-item{
        .slogan{
            flex-direction: row;
            font-size: 3.625rem;
            span:last-child{
                margin-top: 0;
            }
        }
        .country{
    
            h2{
                font-size: 4.766rem;
                span{
        
                    font-size: 2.286rem;
                }
            }
            h3{
                font-size: 2.286rem;
            }
        }
    }
}

@media (max-width:768px){
    .location-item{
        .slogan{
            top: 2%;
        }
    }
}
@media (max-width: 576px){
    .location-item{
        .slogan{
            font-size: 2.625rem;
        }
        .country{
            h2{
                 font-size: 3.766rem;
                span{
                    font-size: 1.806rem;
                }
            }
            h3{
                font-size: 1.806rem;
            }
        }
        .other-info{
            .info-list{
                .info-item{
                    &.feature{
                        top: 15%;
                        left: 28%;
                    }
                    &.kp{
                        top:28%;
                        left: 3%;
                    }
                    &.probability{
                        top:55%;
                        left: 20%;
                    }
                    &.traffic{
                        top:50%;
                        left: 45%;
                    }
                    &.people{
                        top:38%;
                        left: 70%;
                    }
                    &.period{
                        top:15%;
                        left: 55%;
                    }
                }
            }
        }
        .introduce{
            h2{
                font-size: 2.2rem;
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
}
@media (max-width: 460px) {
    .location-item{
        .slogan{
        
            font-size: 1.625rem;
            font-weight: 600;
        }
        .country{
            h2{
                 font-size: 2.766rem;
                span{
                    font-size: 1.326rem;
                }
            }
            h3{
                // margin-left: 0;
                // margin-left: auto;
                font-size: 1.326rem;
                // text-align: center;
            }
        }
    }
}


/*以上為簡介區 CSS*/

/*以下為相關行程區 CSS*/
.other-itinerary{
    margin-top: 6rem;
    padding: 45px 0;
    background-color: #262626; 

    h2{
        font-size: 2.95rem;
        color: #00ffff;
    }
    .swiper-container{ //為了把箭頭跟點點放在外面所以多包了這層
        position: relative;
        .swiper{ //主要swiper區
            width: 100%;
            height: 100%;
            margin-bottom: 40px;
            .swiper-slide{
                font-size: 1.125rem;
                .itinerary-card{    //內容
                    text-decoration: none;
                    .content{
                        background-color: #262626;
                        border: 1px solid #ffffffd8;
                        transition: 0.5s;
                        img{
                            width: 100%;
                            // height: 50%;
                            object-fit: cover;
                        }
                        h4{
                            font-size: 1.64rem;
                            color: #00ffff;
                            font-weight: 600;
                        }
                        p{
                            width: 100%;
                            font-size: 1.5rem;
                            color: #ffffffd8;
                            //多行隱藏文字
                            overflow : hidden;
                            text-overflow : ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp:3;   //超過3行後面隱藏
                        }
                    }          
                }
            }
        }
        /*以下為相關行程區的箭頭跟點點 CSS*/
        .swiper-button-prev,.swiper-button-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #FFFFFF;
        }
        .swiper-button-prev{
            left: -4vw;
        }
        .swiper-button-next{
            right: -4vw;
        }
        .swiper-pagination{
            position: absolute;
            bottom: -5%;
        }
        .swiper-pagination-bullet-active{   //點點
            background-color: #FFFFFF;
        }
        /*以上為相關行程區的箭頭跟點點 CSS*/
    }
}

@media (max-width:768px){
    .other-itinerary{
        .swiper-container{ //為了把箭頭跟點點放在外面所以多包了這層
            .swiper{ //主要swiper區

                .swiper-slide{
                    .itinerary-card{    
                        .content{
                            h4{
                                font-size: 1.64rem;
                            }
                            p{
                                font-size: 1.3rem;
                               
                            }
                        }          
                    }
                }
            }
        }
    }
}

/*以上為相關行程簡介區 CSS*/

