/*以下為Banner區 CSS*/
.banner{
    width: 100%;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
    .layer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        pointer-events: none;
        &.scenery{
            background-position: center;
            background-image: url(../img/itinerary/itinerary-banner-layer1-scenery.png);
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                background:linear-gradient(to top, #000000, transparent);
                z-index: 2;
            }
        }
        &.photo{
            // background-position: center;
            background-image: url(../img/itinerary/itinerary-banner-layer2-photo.png);
            
        }
    }
}

@media (max-width:576px) {
    .banner{
        height: 89.06vw;
    }
}


/*以下為相關行程區 CSS*/
.itinerary{
    margin-top: 6rem;
    .country{
        display: flex;
        justify-content: end;
        h2{
            // margin: 0 auto;
            font-size: 5.766rem;
            color: #00ff66;
            span{
    
                font-size: 2.766rem;
            }
        }
    }
    .itinerary-body{
        h2{
            font-size: 2.766rem;
            color: #00ffff;
        }
        h3{
            font-size: 1.875rem;
            color: #00ffff;
        }
        p{
            font-size: 1.5rem;
            a{
                text-decoration: none;
                color: #ffffff;
                &:hover{
                    color: #00ff66;
                }
            }
        }
    }
}

@media (max-width:1400px) {
    html{
        font-size: 14px;
    }
}

@media (max-width:1200px) {
    html{
        font-size: 12px;
    }
}

@media (max-width:992px) {
    .itinerary{
        .country{
            h2{
                font-size: 4.766rem;
                span{
        
                    font-size: 2.286rem;
                }
            }
        }
    }
}

@media (max-width:768px){
    
}

@media (max-width:576px) {
    .new-container{
        padding: 0 8%;
    }

    .itinerary{
        .country{
            h2{
                font-size: 3.766rem;
                span{
                    font-size: 1.806rem;
                }
            }
        }
        .itinerary-body{
            h2{
                font-size: 2.3rem;
            }
            h3{
                font-size: 1.7rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}



/*以上為相關行程區 CSS*/

/*以下為相關行程區 CSS*/
.other-itinerary{
    margin-top: 6rem;
    padding: 45px 0;
    background-color: #262626; 

    h2{
        font-size: 2.95rem;
        color: #00ffff;
    }
    .swiper-container{ //為了把箭頭跟點點放在外面所以多包了這層
        position: relative;
        .swiper{ //主要swiper區
            width: 100%;
            height: 100%;
            margin-bottom: 40px;
            .swiper-slide{
                font-size: 1.125rem;
                .itinerary-card{    //內容
                    text-decoration: none;
                    .content{
                        background-color: #262626;
                        border: 1px solid #ffffffd8;
                        transition: 0.5s;
                        img{
                            width: 100%;
                            // height: 50%;
                            object-fit: cover;
                        }
                        h4{
                            font-size: 1.64rem;
                            color: #00ffff;
                            font-weight: 600;
                        }
                        .itinerary-introduce{
                            width: 100%;
                            font-size: 1.5rem;
                            color: #ffffffd8;
                            //多行隱藏文字
                            overflow : hidden;
                            text-overflow : ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp:3;   //超過3行後面隱藏
                        }
                    }          
                }
            }
        }
        /*以下為相關行程區的箭頭跟點點 CSS*/
        .swiper-button-prev,.swiper-button-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #FFFFFF;
        }
        .swiper-button-prev{
            left: -4vw;
        }
        .swiper-button-next{
            right: -4vw;
        }
        .swiper-pagination{
            position: absolute;
            bottom: -5%;
        }
        .swiper-pagination-bullet-active{   //點點
            background-color: #FFFFFF;
        }
        /*以上為相關行程區的箭頭跟點點 CSS*/
    }
}

@media (max-width:768px){
    .other-itinerary{
        .swiper-container{ //為了把箭頭跟點點放在外面所以多包了這層
            .swiper{ //主要swiper區
                .swiper-slide{
                    .itinerary-card{    
                        .content{
                            h4{
                                font-size: 1.64rem;
                            }
                            .itinerary-introduce{
                                font-size: 1.3rem;
                            }
                        }          
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .other-itinerary{
        .swiper-container{ //為了把箭頭跟點點放在外面所以多包了這層
            .swiper-button-prev{
                left: 0;
            }
            .swiper-button-next{
                right: 0;
            }
        }
    }
}




/*以上為相關行程簡介區 CSS*/


