*{
    box-sizing: border-box;
    
}
body {
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    position: relative;
}

/*以下為自定義容器*/
.new-container{
    max-width: calc(1006px + 47.6%);  //1920px
    padding: 0 23.8%;
}

@media (max-width:992px) {
    .new-container{
        padding: 0 13%;
    }
}
/*以上為自定義容器*/

/*以下為NavBar區 CSS*/
.navbar{
    position:absolute;
    z-index: 999;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.356);
    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-collapse{
        .nav-link{
            font-weight: 700;
            color: #ffffff !important;
            text-shadow: 5px 5px 6px rgba(255,255,255,0.7);
            width: 80px;
        }
        .nav-link {
            span:hover{
                font-size: 0;
            }
            span:hover::after{
                font-size: 1rem;
                font-weight: 500;
                content: attr(data-hover);
                text-shadow: 5px 5px 6px rgba(255,255,255,0.7);
            }

        } 
    }

}


/*以下為漢堡條 CSS*/
.hamburger-btn {
    width: 40px;
    height: 40px;
    position: relative;
    
}

.line {
    width: 30px;
    height: 1px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.line-1 {
    top:25%;
    transform: translate(-50%, -50%);
}

.line-2 {
    opacity: 1;
    top:50%;
    transform: translate(-50%, -50%);
    transition-duration: 1.2s;
    transition-property: opacity;
}

.line-3{
    top:75%;
    transform: translate(-50%, -50%);
}

/*在不是hover時的動畫效果*/
.hamburger-btn .line-1, .hamburger-btn .line-3 {
    transition-duration: 0.2s, 0.5s;
    transition-property: transform, top;    /*定義哪些 CSS properties 會被轉場效果影響*/
}

/*在是hover時的動畫效果*/
.hamburger-btn.open .line-1, .hamburger-btn.open .line-3 {
    transition-duration: 0.2s, 0.5s;
    transition-property: top, transform;
}

.hamburger-btn.open .line-1 {
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-btn.open .line-2 {
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
}
.hamburger-btn.open .line-3 {
    top:50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
/*以上漢堡條 CSS*/

/*以上為NavBar區 CSS*/


/*以下底部按鈕區*/

.nxet-page{
    margin: 120px 0;
    .next-btn{
        position: relative;
        display: inline-block;
        width: 250px;
        font-size: 2rem;
        padding: 10px 0;
        color: #696868d8;
        font-weight: 600;
        border-radius: 5px;
        background-color: #054b31;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
       
        span{
            &:not(:last-child){
                position: absolute;
                display: block;    
            }
            &:nth-child(1){
                top: 0;
                left: -100%;
                width: 100%;
                height: 2px;
                background:linear-gradient(90deg,transparent,#00ff66);
            }
            &:nth-child(2){
                top: -100%;
                right: 0;
                width: 2px;
                height: 100%;
                background:linear-gradient(180deg,transparent,#00ff66);
            }
            &:nth-child(3){
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 2px;
                background:linear-gradient(270deg,transparent,#00ff66);
            }
            &:nth-child(4){
                bottom: -100%;
                left: 0;
                width: 2px;
                height: 100%;
                background:linear-gradient(360deg,transparent,#00ff66);
            }
        }
        &:hover{
            color: #000000;
            background-color: #00ff66;
            box-shadow: 0 0 10px #00ff66,
                        0 0 40px #00ff66;
                        // 0 0 80px #00ff00;
            transition-delay: 0.5s;
            span{
                &:nth-child(1){
                    left: 100%;
                    transition: 0.5s;
                }
                &:nth-child(2){
                    top: 100%;
                    transition: 0.5s;
                    transition-delay: 0.125s;
                }
                &:nth-child(3){
                    right: 100%;
                    transition: 0.5s;
                    transition-delay: 0.25s;
                }
                &:nth-child(4){
                    bottom: 100%;
                    transition: 0.5s;
                    transition-delay: 0.375s;
                }
                &:last-child{
                    position: relative;
                    animation-name: drop;
                    animation-duration: 1s;
                    animation-timing-function: linear;
                    animation-delay: 0.5s;
                    animation-iteration-count: infinite;
                    animation-play-state: running;
                }
            }
        }        
    }
}


@keyframes drop{
    0% {   
        top: -15px;
        // transform: translateY(-10px);
        opacity: 0;
    }
    30% {
        top: 0;
        // transform: translateY(0);
        opacity: 1;
    }
    100% {
        top: 10px;
        // transform: translateY(10px);
        opacity: 0;
    }
}
/*以上底部按鈕區*/



/*以下為footer區*/
.footer-text{
    background-color: #adadad;
    p{
        margin: 0;
        color: #000000;
        font-weight: 500;
    }
}
/*以上為footer區*/


/*以下為頁面標題*/
.page-title{
    position: relative;
    span{
        font-size: 1.078rem;
    }
    h1{
        font-size: 1.453rem;
    }
    &::before{
        content: '';
        position: absolute;
        width: 1.453rem;
        height: 1.453rem;
        top: 30%;
        left: -2.2rem;
        border-radius: 50%;
        background:linear-gradient(90deg,#00ff66, #00ffff);

    }    
}
/*以上為頁面標題*/



/*以下為極光熱點選單*/
/*小提示*/
.tip{
    position: fixed;
    top: 32%;
    right: 1.3%;
    span{
        position: relative;
        animation-name: guide;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: alternate; 
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
        animation-play-state: running;
    }
}

@keyframes guide{
    0% {   
        top: -3px;
    }
    70% {
        top: 0;
        
    }
    100% {
        top: 3px;
    }
}
/*選單*/
.hotspot-list{
    position: fixed;
    flex-direction: column;
    justify-content: end;    
    display: flex;
    top: 50%;
    transform: translate(89%,-50%) rotateY(180deg);
    right: 1%;
    z-index: 3;
    &:hover{
        transform: translate(0,-50%) rotateY(0deg);
    }
    span{
        text-align: center;   
    }
    .location-menu{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        position: relative;
        overflow: hidden;
        padding: 0;
        margin: 0;
        li{
            position: relative;
            display: flex;
            align-items: center;
            &:not(:last-child){
                &::after{
                    content: '';
                    position: absolute;
                    // display: block;
                    width: 2px;
                    height: 50%;
                    background-color: #ffffff;
                    right: 9px;
                    bottom: -10px;
                    z-index: -20;
                }
            }
            .location-btn{
                position: relative;
                width: 20px;
                height: 20px;
                .circle{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    transform: scale(0.3);
                    opacity: 0.5;
                    transition: transform 0.5s,opacity 0.2s,cubic-bezier(0.19,1,0.22,1);
                    
                }
                .circle-border{
                    position: absolute; 
                    width: 20px;
                    height: 20px;
                    // clip: rect(0px,20px,20px,0px); //上右下左，這個屬性一定要配position: absolute使用  
                    border: 2px solid #00ff66;
                    border-radius: 50%;
            
                    transform: scale(1);
                    transition: transform 0.5s ,cubic-bezier(0.19,1,0.22,1);
                }
                &:hover{
                    .circle{
                        transform: scale(1);
                        background-color: #00ff66;
                        opacity: 1;
                    }
                    .circle-border{
                        transform: scale(0.5);
                    }
                }
            }
            a{  
                font-size: 16px;
                text-decoration: none;
                color: #ffffff;
                background-color: #3f3f3f;
                padding: 5px 10px;
                margin-right: 10px;
                border:1px solid #ffffff;
                border-radius: 20px;
                &:hover{
                    color: #00ffff;
                    border-color: #00ffff;
                }
                opacity: 0;
                transform: translateX(150%) scale(0);   //初始狀態
                transition: transform 0.5s, opacity 0.5s, cubic-bezier(.78,.13,.72,.21);
            }
        }
    }
}
/*以上為極光熱點選單*/


/*以下為背景星星群*/
.scene{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    i{
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 50%;
        animation: rise linear infinite;
    }
 
}

@keyframes rise {
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}
/*以上為背景星星群*/