.aurora .bg {
  width: 100%;
  margin: auto;
  height: 56.25vw;
  max-height: 600px;
  overflow: hidden;
  position: relative;
}

.aurora .bg .auror_bg {
  position: absolute;
  left: -20%;
  top: -50%;
  width: 200%;
  height: 200%;
  max-width: 2400px;
  max-height: 2400px;
  -webkit-animation-name: northern;
          animation-name: northern;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(102, 255, 153, 0.2)), color-stop(15%, #370037), to(black));
  background: linear-gradient(rgba(102, 255, 153, 0.2) 10%, #370037 15%, black 100%);
}

.aurora .bg .aur_cont {
  margin: -65px auto 0;
  display: table;
  height: auto;
}

.aurora .bg .aur_cont .aur {
  -webkit-transform: skew(-0.06turn, 18deg);
          transform: skew(-0.06turn, 18deg);
  display: block;
  width: 0;
  min-height: 200px;
  float: left;
  margin-left: 40px;
  border-radius: 5% 52% 30px 20px;
  opacity: 0.6;
}

.aurora .bg .aur_cont .aur.aur_1 {
  -webkit-box-shadow: #4ba8e9 0px 0px 100px 20px;
          box-shadow: #4ba8e9 0px 0px 100px 20px;
  margin-top: 38px;
  -webkit-animation: topup 5494ms infinite linear;
          animation: topup 5494ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_2 {
  -webkit-box-shadow: #4b8dff 0px 0px 100px 20px;
          box-shadow: #4b8dff 0px 0px 100px 20px;
  margin-top: -37px;
  -webkit-animation: topup 4599ms infinite linear;
          animation: topup 4599ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_3 {
  -webkit-box-shadow: #4bffff 0px 0px 100px 20px;
          box-shadow: #4bffff 0px 0px 100px 20px;
  margin-top: 12px;
  -webkit-animation: topup 6813ms infinite linear;
          animation: topup 6813ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_4 {
  -webkit-box-shadow: #4b98e8 0px 0px 100px 20px;
          box-shadow: #4b98e8 0px 0px 100px 20px;
  margin-top: 69px;
  -webkit-animation: topup 12805ms infinite linear;
          animation: topup 12805ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_5 {
  -webkit-box-shadow: #4bffff 0px 0px 100px 20px;
          box-shadow: #4bffff 0px 0px 100px 20px;
  margin-top: -24px;
  -webkit-animation: topup 7900ms infinite linear;
          animation: topup 7900ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_6 {
  -webkit-box-shadow: #4bff7f 0px 0px 100px 20px;
          box-shadow: #4bff7f 0px 0px 100px 20px;
  margin-top: 50px;
  -webkit-animation: topup 6980ms infinite linear;
          animation: topup 6980ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_7 {
  -webkit-box-shadow: #4bfff3 0px 0px 100px 20px;
          box-shadow: #4bfff3 0px 0px 100px 20px;
  margin-top: 20px;
  -webkit-animation: topup 12859ms infinite linear;
          animation: topup 12859ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_8 {
  -webkit-box-shadow: #4b7280 0px 0px 100px 20px;
          box-shadow: #4b7280 0px 0px 100px 20px;
  margin-top: 84px;
  -webkit-animation: topup 5755ms infinite linear;
          animation: topup 5755ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_9 {
  -webkit-box-shadow: #4b6fcf 0px 0px 100px 20px;
          box-shadow: #4b6fcf 0px 0px 100px 20px;
  margin-top: 29px;
  -webkit-animation: topup 6884ms infinite linear;
          animation: topup 6884ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_10 {
  -webkit-box-shadow: #4b8ec3 0px 0px 100px 20px;
          box-shadow: #4b8ec3 0px 0px 100px 20px;
  margin-top: 4px;
  -webkit-animation: topup 5472ms infinite linear;
          animation: topup 5472ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_11 {
  -webkit-box-shadow: #4bf2ff 0px 0px 100px 20px;
          box-shadow: #4bf2ff 0px 0px 100px 20px;
  margin-top: 85px;
  -webkit-animation: topup 6759ms infinite linear;
          animation: topup 6759ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_12 {
  -webkit-box-shadow: #4bfd64 0px 0px 100px 20px;
          box-shadow: #4bfd64 0px 0px 100px 20px;
  margin-top: -15px;
  -webkit-animation: topup 4581ms infinite linear;
          animation: topup 4581ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_13 {
  -webkit-box-shadow: #4beb69 0px 0px 100px 20px;
          box-shadow: #4beb69 0px 0px 100px 20px;
  margin-top: 99px;
  -webkit-animation: topup 3662ms infinite linear;
          animation: topup 3662ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_14 {
  -webkit-box-shadow: #4bff63 0px 0px 100px 20px;
          box-shadow: #4bff63 0px 0px 100px 20px;
  margin-top: -11px;
  -webkit-animation: topup 7012ms infinite linear;
          animation: topup 7012ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_15 {
  -webkit-box-shadow: #4b6ad5 0px 0px 100px 20px;
          box-shadow: #4b6ad5 0px 0px 100px 20px;
  margin-top: 88px;
  -webkit-animation: topup 11874ms infinite linear;
          animation: topup 11874ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_16 {
  -webkit-box-shadow: #4bd2e2 0px 0px 100px 20px;
          box-shadow: #4bd2e2 0px 0px 100px 20px;
  margin-top: -3px;
  -webkit-animation: topup 6033ms infinite linear;
          animation: topup 6033ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_17 {
  -webkit-box-shadow: #4b80ff 0px 0px 100px 20px;
          box-shadow: #4b80ff 0px 0px 100px 20px;
  margin-top: 39px;
  -webkit-animation: topup 11234ms infinite linear;
          animation: topup 11234ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_18 {
  -webkit-box-shadow: #4bfde5 0px 0px 100px 20px;
          box-shadow: #4bfde5 0px 0px 100px 20px;
  margin-top: -1px;
  -webkit-animation: topup 11608ms infinite linear;
          animation: topup 11608ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_19 {
  -webkit-box-shadow: #4bffd4 0px 0px 100px 20px;
          box-shadow: #4bffd4 0px 0px 100px 20px;
  margin-top: 46px;
  -webkit-animation: topup 8214ms infinite linear;
          animation: topup 8214ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_20 {
  -webkit-box-shadow: #4b72ff 0px 0px 100px 20px;
          box-shadow: #4b72ff 0px 0px 100px 20px;
  margin-top: 8px;
  -webkit-animation: topup 3299ms infinite linear;
          animation: topup 3299ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_21 {
  -webkit-box-shadow: #4bffbd 0px 0px 100px 20px;
          box-shadow: #4bffbd 0px 0px 100px 20px;
  margin-top: 93px;
  -webkit-animation: topup 4954ms infinite linear;
          animation: topup 4954ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_22 {
  -webkit-box-shadow: #4bffd4 0px 0px 100px 20px;
          box-shadow: #4bffd4 0px 0px 100px 20px;
  margin-top: 18px;
  -webkit-animation: topup 3984ms infinite linear;
          animation: topup 3984ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_23 {
  -webkit-box-shadow: #4b96ff 0px 0px 100px 20px;
          box-shadow: #4b96ff 0px 0px 100px 20px;
  margin-top: 83px;
  -webkit-animation: topup 5369ms infinite linear;
          animation: topup 5369ms infinite linear;
}

.aurora .bg .aur_cont .aur.aur_24 {
  -webkit-box-shadow: #4b8d9d 0px 0px 100px 20px;
          box-shadow: #4b8d9d 0px 0px 100px 20px;
  margin-top: 78px;
  -webkit-animation: topup 10109ms infinite linear;
          animation: topup 10109ms infinite linear;
}

.aurora .bg .pinetree {
  background: black;
  width: 5px;
  height: 20px;
  position: absolute;
  bottom: 85px;
  z-index: 1;
  -webkit-box-shadow: 2px 0px 20px grey;
          box-shadow: 2px 0px 20px grey;
  left: 20%;
}

.aurora .bg .pinetree:after {
  position: absolute;
  top: -15px;
  left: -18px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
  content: "";
}

.aurora .bg .pinetree:before {
  position: absolute;
  top: -23px;
  left: -12px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid black;
  content: "";
}

.aurora .bg .hill {
  width: 120vw;
  margin-left: -10vw;
  height: 215px;
  margin-bottom: -100px;
  -webkit-box-shadow: 3px 0px 50px grey;
          box-shadow: 3px 0px 50px grey;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#011107), to(black));
  background: linear-gradient(#011107 0%, black 100%);
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

@-webkit-keyframes topup {
  0%,
  100% {
    -webkit-transform: translatey(30px);
            transform: translatey(30px);
  }
  50% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
  }
}

@keyframes topup {
  0%,
  100% {
    -webkit-transform: translatey(30px);
            transform: translatey(30px);
  }
  50% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
  }
}

@-webkit-keyframes northern {
  0% {
    -webkit-transform: translate(5%, -2%);
            transform: translate(5%, -2%);
  }
  25% {
    -webkit-transform: translate(10%, 7%);
            transform: translate(10%, 7%);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(7%, -2%);
            transform: translate(7%, -2%);
  }
  85% {
    -webkit-transform: translate(6%, 3%) rotate(12deg);
            transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes northern {
  0% {
    -webkit-transform: translate(5%, -2%);
            transform: translate(5%, -2%);
  }
  25% {
    -webkit-transform: translate(10%, 7%);
            transform: translate(10%, 7%);
  }
  40% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(7%, -2%);
            transform: translate(7%, -2%);
  }
  85% {
    -webkit-transform: translate(6%, 3%) rotate(12deg);
            transform: translate(6%, 3%) rotate(12deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=aurora.css.map */