@charset "UTF-8";
/*以下為Banner區 CSS*/
.map-container {
  width: 100%;
  height: 80vh;
  border-bottom: 15px solid #00ff66;
}

.map-container #map {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
}

/*以上為Banner區 CSS*/
/*以下為簡介區 CSS*/
.location-item {
  margin-top: 6rem;
  position: relative;
}

.location-item .slogan {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5.625rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #666666;
  z-index: -1;
}

.location-item .slogan span:last-child {
  margin-top: 11.25rem;
}

.location-item .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.location-item .country h2 {
  margin: 0 auto;
  font-size: 5.766rem;
  color: #00ff66;
}

.location-item .country h2 span {
  font-size: 2.766rem;
}

.location-item .country h3 {
  margin-left: 36.1%;
  font-size: 2.766rem;
}

.location-item .other-info {
  position: relative;
  width: 100%;
  margin-top: 6rem;
}

.location-item .other-info .info-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56.25vw;
  z-index: 2;
}

.location-item .other-info .info-list .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 9.3755rem;
}

.location-item .other-info .info-list .info-item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 1.64rem;
}

.location-item .other-info .info-list .info-item.feature {
  top: 10%;
  left: 40%;
}

.location-item .other-info .info-list .info-item.kp {
  top: 28%;
  left: 18%;
}

.location-item .other-info .info-list .info-item.probability {
  top: 45%;
  left: 30%;
}

.location-item .other-info .info-list .info-item.traffic {
  top: 45%;
  left: 55%;
}

.location-item .other-info .info-list .info-item.people {
  top: 38%;
  left: 75%;
}

.location-item .other-info .info-list .info-item.period {
  top: 10%;
  left: 55%;
}

.location-item .other-info .info-list .info-item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.4rem;
  color: #000000;
  font-weight: 600;
  background-color: #cccccc;
  border-radius: 3px;
  position: relative;
}

.location-item .other-info .info-list .info-item .info::before {
  content: '';
  position: absolute;
  width: 0;
  border-style: solid;
  border-color: #cccccc transparent;
  border-width: 0px 20px 20px;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.location-item .introduce {
  margin-top: 6rem;
}

.location-item .introduce h2 {
  font-size: 2.625rem;
  color: #00ff66;
}

.location-item .introduce p {
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-break: anywhere;
}

/* 以下為極光熱點其他資訊按鈕動畫 */
.anim-1 {
  -webkit-animation-name: float-1;
          animation-name: float-1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 7.93719s;
          animation-duration: 7.93719s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-2 {
  -webkit-animation-name: float-2;
          animation-name: float-2;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 5.69006s;
          animation-duration: 5.69006s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-3 {
  -webkit-animation-name: float-3;
          animation-name: float-3;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 7.29159s;
          animation-duration: 7.29159s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-4 {
  -webkit-animation-name: float-4;
          animation-name: float-4;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 7.45953s;
          animation-duration: 7.45953s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-5 {
  -webkit-animation-name: float-5;
          animation-name: float-5;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 5.02335s;
          animation-duration: 5.02335s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.anim-6 {
  -webkit-animation-name: float-6;
          animation-name: float-6;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 7.979s;
          animation-duration: 7.979s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes float-1 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.61818deg) translateY(14.97022px);
            transform: rotateZ(-1.61818deg) translateY(14.97022px);
  }
  100% {
    -webkit-transform: rotateZ(1.10632deg) translateY(-14.98102px);
            transform: rotateZ(1.10632deg) translateY(-14.98102px);
  }
}

@keyframes float-1 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.61818deg) translateY(14.97022px);
            transform: rotateZ(-1.61818deg) translateY(14.97022px);
  }
  100% {
    -webkit-transform: rotateZ(1.10632deg) translateY(-14.98102px);
            transform: rotateZ(1.10632deg) translateY(-14.98102px);
  }
}

@-webkit-keyframes float-2 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.38205deg) translateY(16.93222px);
            transform: rotateZ(-1.38205deg) translateY(16.93222px);
  }
  100% {
    -webkit-transform: rotateZ(1.33095deg) translateY(-9.71037px);
            transform: rotateZ(1.33095deg) translateY(-9.71037px);
  }
}

@keyframes float-2 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.38205deg) translateY(16.93222px);
            transform: rotateZ(-1.38205deg) translateY(16.93222px);
  }
  100% {
    -webkit-transform: rotateZ(1.33095deg) translateY(-9.71037px);
            transform: rotateZ(1.33095deg) translateY(-9.71037px);
  }
}

@-webkit-keyframes float-3 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.40127deg) translateY(11.62898px);
            transform: rotateZ(-1.40127deg) translateY(11.62898px);
  }
  100% {
    -webkit-transform: rotateZ(0.16467deg) translateY(-15.8479px);
            transform: rotateZ(0.16467deg) translateY(-15.8479px);
  }
}

@keyframes float-3 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.40127deg) translateY(11.62898px);
            transform: rotateZ(-1.40127deg) translateY(11.62898px);
  }
  100% {
    -webkit-transform: rotateZ(0.16467deg) translateY(-15.8479px);
            transform: rotateZ(0.16467deg) translateY(-15.8479px);
  }
}

@-webkit-keyframes float-4 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.41909deg) translateY(12.03182px);
            transform: rotateZ(-1.41909deg) translateY(12.03182px);
  }
  100% {
    -webkit-transform: rotateZ(0.07467deg) translateY(-5.47832px);
            transform: rotateZ(0.07467deg) translateY(-5.47832px);
  }
}

@keyframes float-4 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.41909deg) translateY(12.03182px);
            transform: rotateZ(-1.41909deg) translateY(12.03182px);
  }
  100% {
    -webkit-transform: rotateZ(0.07467deg) translateY(-5.47832px);
            transform: rotateZ(0.07467deg) translateY(-5.47832px);
  }
}

@-webkit-keyframes float-5 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.50639deg) translateY(11.98296px);
            transform: rotateZ(-1.50639deg) translateY(11.98296px);
  }
  100% {
    -webkit-transform: rotateZ(1.64deg) translateY(-9.58324px);
            transform: rotateZ(1.64deg) translateY(-9.58324px);
  }
}

@keyframes float-5 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-1.50639deg) translateY(11.98296px);
            transform: rotateZ(-1.50639deg) translateY(11.98296px);
  }
  100% {
    -webkit-transform: rotateZ(1.64deg) translateY(-9.58324px);
            transform: rotateZ(1.64deg) translateY(-9.58324px);
  }
}

@-webkit-keyframes float-6 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-0.3665deg) translateY(15.44318px);
            transform: rotateZ(-0.3665deg) translateY(15.44318px);
  }
  100% {
    -webkit-transform: rotateZ(1.6562deg) translateY(-10.42968px);
            transform: rotateZ(1.6562deg) translateY(-10.42968px);
  }
}

@keyframes float-6 {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateZ(-0.3665deg) translateY(15.44318px);
            transform: rotateZ(-0.3665deg) translateY(15.44318px);
  }
  100% {
    -webkit-transform: rotateZ(1.6562deg) translateY(-10.42968px);
            transform: rotateZ(1.6562deg) translateY(-10.42968px);
  }
}

@-webkit-keyframes info-button-list-anim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes info-button-list-anim {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* 以上為極光熱點資訊按鈕動畫 */
@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .location-item .slogan {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 3.625rem;
  }
  .location-item .slogan span:last-child {
    margin-top: 0;
  }
  .location-item .country h2 {
    font-size: 4.766rem;
  }
  .location-item .country h2 span {
    font-size: 2.286rem;
  }
  .location-item .country h3 {
    font-size: 2.286rem;
  }
}

@media (max-width: 768px) {
  .location-item .slogan {
    top: 2%;
  }
}

@media (max-width: 576px) {
  .location-item .slogan {
    font-size: 2.625rem;
  }
  .location-item .country h2 {
    font-size: 3.766rem;
  }
  .location-item .country h2 span {
    font-size: 1.806rem;
  }
  .location-item .country h3 {
    font-size: 1.806rem;
  }
  .location-item .other-info .info-list .info-item.feature {
    top: 12%;
    left: 38%;
  }
  .location-item .other-info .info-list .info-item.kp {
    top: 12%;
    left: 10%;
  }
  .location-item .other-info .info-list .info-item.probability {
    top: 65%;
    left: 38%;
  }
  .location-item .other-info .info-list .info-item.traffic {
    top: 38%;
    left: 53%;
  }
  .location-item .other-info .info-list .info-item.people {
    top: 38%;
    left: 22%;
  }
  .location-item .other-info .info-list .info-item.period {
    top: 15%;
    left: 63%;
  }
  .location-item .introduce h2 {
    font-size: 2.2rem;
  }
  .location-item .introduce p {
    font-size: 1.3rem;
  }
}

@media (max-width: 460px) {
  .location-item .slogan {
    font-size: 1.625rem;
    font-weight: 600;
  }
  .location-item .country h2 {
    font-size: 2.766rem;
  }
  .location-item .country h2 span {
    font-size: 1.326rem;
  }
  .location-item .country h3 {
    font-size: 1.326rem;
  }
}

/*以上為簡介區 CSS*/
/*以下為相關行程區 CSS*/
.other-itinerary {
  margin-top: 6rem;
  padding: 45px 0;
  background-color: #262626;
}

.other-itinerary h2 {
  font-size: 2.95rem;
  color: #00ffff;
}

.other-itinerary .swiper-container {
  position: relative;
  /*以下為相關行程區的箭頭跟點點 CSS*/
  /*以上為相關行程區的箭頭跟點點 CSS*/
}

.other-itinerary .swiper-container .swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.other-itinerary .swiper-container .swiper .swiper-slide {
  font-size: 1.125rem;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card {
  text-decoration: none;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content {
  background-color: #262626;
  border: 1px solid #ffffffd8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content h4 {
  font-size: 1.64rem;
  color: #00ffff;
  font-weight: 600;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content .itinerary-introduce {
  width: 100%;
  font-size: 1.5rem;
  color: #ffffffd8;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.other-itinerary .swiper-container .swiper-button-prev, .other-itinerary .swiper-container .swiper-button-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFFFFF;
}

.other-itinerary .swiper-container .swiper-button-prev {
  left: -4vw;
}

.other-itinerary .swiper-container .swiper-button-next {
  right: -4vw;
}

.other-itinerary .swiper-container .swiper-pagination {
  position: absolute;
  bottom: -5%;
}

.other-itinerary .swiper-container .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

@media (max-width: 768px) {
  .other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content h4 {
    font-size: 1.64rem;
  }
  .other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content .itinerary-introduce {
    font-size: 1.3rem;
  }
}

/*以上為相關行程簡介區 CSS*/
/*# sourceMappingURL=hotspot.css.map */