@charset "UTF-8";
/*以下為Banner區 CSS*/
.banner {
  width: 100%;
  height: 56.25vw;
  position: relative;
  overflow: hidden;
}

.banner .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  pointer-events: none;
}

.banner .layer.scenery {
  background-position: center;
  background-image: url(../img/itinerary/itinerary-banner-layer1-scenery.png);
  position: relative;
}

.banner .layer.scenery::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(transparent));
  background: linear-gradient(to top, #000000, transparent);
  z-index: 2;
}

.banner .layer.photo {
  background-position: center;
  background-image: url(../img/itinerary/itinerary-banner-layer2-photo.png);
}

@media (max-width: 576px) {
  .banner {
    height: 89.06vw;
  }
}

/*以下為相關行程區 CSS*/
.itinerary {
  margin-top: 6rem;
}

.itinerary .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.itinerary .country h2 {
  font-size: 5.766rem;
  color: #00ff66;
}

.itinerary .country h2 span {
  font-size: 2.766rem;
}

.itinerary .itinerary-body h2 {
  font-size: 2.766rem;
  color: #00ffff;
}

.itinerary .itinerary-body h3 {
  font-size: 1.875rem;
  color: #00ffff;
}

.itinerary .itinerary-body p {
  font-size: 1.5rem;
}

.itinerary .itinerary-body p a {
  text-decoration: none;
  color: #ffffff;
}

.itinerary .itinerary-body p a:hover {
  color: #00ff66;
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .itinerary .country h2 {
    font-size: 4.766rem;
  }
  .itinerary .country h2 span {
    font-size: 2.286rem;
  }
}

@media (max-width: 576px) {
  .new-container {
    padding: 0 8%;
  }
  .itinerary .country h2 {
    font-size: 3.766rem;
  }
  .itinerary .country h2 span {
    font-size: 1.806rem;
  }
  .itinerary .itinerary-body h2 {
    font-size: 2.3rem;
  }
  .itinerary .itinerary-body h3 {
    font-size: 1.7rem;
  }
  .itinerary .itinerary-body p {
    font-size: 1.5rem;
  }
}

/*以上為相關行程區 CSS*/
/*以下為相關行程區 CSS*/
.other-itinerary {
  margin-top: 6rem;
  padding: 45px 0;
  background-color: #262626;
}

.other-itinerary h2 {
  font-size: 2.95rem;
  color: #00ffff;
}

.other-itinerary .swiper-container {
  position: relative;
  /*以下為相關行程區的箭頭跟點點 CSS*/
  /*以上為相關行程區的箭頭跟點點 CSS*/
}

.other-itinerary .swiper-container .swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.other-itinerary .swiper-container .swiper .swiper-slide {
  font-size: 1.125rem;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card {
  text-decoration: none;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content {
  background-color: #262626;
  border: 1px solid #ffffffd8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content h4 {
  font-size: 1.64rem;
  color: #00ffff;
  font-weight: 600;
}

.other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content p {
  width: 100%;
  font-size: 1.5rem;
  color: #ffffffd8;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.other-itinerary .swiper-container .swiper-button-prev, .other-itinerary .swiper-container .swiper-button-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #FFFFFF;
}

.other-itinerary .swiper-container .swiper-button-prev {
  left: -4vw;
}

.other-itinerary .swiper-container .swiper-button-next {
  right: -4vw;
}

.other-itinerary .swiper-container .swiper-pagination {
  position: absolute;
  bottom: -5%;
}

.other-itinerary .swiper-container .swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

@media (max-width: 768px) {
  .other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content h4 {
    font-size: 1.64rem;
  }
  .other-itinerary .swiper-container .swiper .swiper-slide .itinerary-card .content p {
    font-size: 1.3rem;
  }
}

@media (max-width: 576px) {
  .other-itinerary .swiper-container .swiper-button-prev {
    left: 0;
  }
  .other-itinerary .swiper-container .swiper-button-next {
    right: 0;
  }
}

/*以上為相關行程簡介區 CSS*/
/*# sourceMappingURL=itinerary.css.map */