@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #ffffff;
  position: relative;
}

/*以下為自定義容器*/
.new-container {
  max-width: calc(1006px + 47.6%);
  padding: 0 23.8%;
}

@media (max-width: 992px) {
  .new-container {
    padding: 0 13%;
  }
}

/*以上為自定義容器*/
/*以下為NavBar區 CSS*/
.navbar {
  position: absolute;
  z-index: 999;
  width: 100%;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-collapse .nav-link {
  font-weight: 700;
  color: #ffffff !important;
  text-shadow: 5px 5px 6px rgba(255, 255, 255, 0.7);
  width: 80px;
}

.navbar .navbar-collapse .nav-link span:hover {
  font-size: 0;
}

.navbar .navbar-collapse .nav-link span:hover::after {
  font-size: 1rem;
  font-weight: 500;
  content: attr(data-hover);
  text-shadow: 5px 5px 6px rgba(255, 255, 255, 0.7);
}

/*以下為漢堡條 CSS*/
.hamburger-btn {
  width: 40px;
  height: 40px;
  position: relative;
}

.line {
  width: 30px;
  height: 1px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.line-1 {
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.line-2 {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.line-3 {
  top: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*在不是hover時的動畫效果*/
.hamburger-btn .line-1, .hamburger-btn .line-3 {
  -webkit-transition-duration: 0.2s, 0.5s;
          transition-duration: 0.2s, 0.5s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: transform, top;
  transition-property: transform, top, -webkit-transform;
  /*定義哪些 CSS properties 會被轉場效果影響*/
}

/*在是hover時的動畫效果*/
.hamburger-btn.open .line-1, .hamburger-btn.open .line-3 {
  -webkit-transition-duration: 0.2s, 0.5s;
          transition-duration: 0.2s, 0.5s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.hamburger-btn.open .line-1 {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-btn.open .line-2 {
  opacity: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.hamburger-btn.open .line-3 {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

/*以上漢堡條 CSS*/
/*以上為NavBar區 CSS*/
/*以下底部按鈕區*/
.nxet-page {
  margin: 120px 0;
}

.nxet-page .next-btn {
  position: relative;
  display: inline-block;
  width: 250px;
  font-size: 2rem;
  padding: 10px 0;
  color: #696868d8;
  font-weight: 600;
  border-radius: 5px;
  background-color: #054b31;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

.nxet-page .next-btn span:not(:last-child) {
  position: absolute;
  display: block;
}

.nxet-page .next-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#00ff66));
  background: linear-gradient(90deg, transparent, #00ff66);
}

.nxet-page .next-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#00ff66));
  background: linear-gradient(180deg, transparent, #00ff66);
}

.nxet-page .next-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#00ff66));
  background: linear-gradient(270deg, transparent, #00ff66);
}

.nxet-page .next-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#00ff66));
  background: linear-gradient(360deg, transparent, #00ff66);
}

.nxet-page .next-btn:hover {
  color: #000000;
  background-color: #00ff66;
  -webkit-box-shadow: 0 0 10px #00ff66, 0 0 40px #00ff66;
          box-shadow: 0 0 10px #00ff66, 0 0 40px #00ff66;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.nxet-page .next-btn:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nxet-page .next-btn:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}

.nxet-page .next-btn:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.nxet-page .next-btn:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s;
}

.nxet-page .next-btn:hover span:last-child {
  position: relative;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes drop {
  0% {
    top: -15px;
    opacity: 0;
  }
  30% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 10px;
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    top: -15px;
    opacity: 0;
  }
  30% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 10px;
    opacity: 0;
  }
}

/*以上底部按鈕區*/
/*以下為footer區*/
.footer-text {
  background-color: #adadad;
}

.footer-text p {
  margin: 0;
  color: #000000;
  font-weight: 500;
}

/*以上為footer區*/
/*以下為頁面標題*/
.page-title {
  position: relative;
}

.page-title span {
  font-size: 1.078rem;
}

.page-title h1 {
  font-size: 1.453rem;
}

.page-title::before {
  content: '';
  position: absolute;
  width: 1.453rem;
  height: 1.453rem;
  top: 30%;
  left: -2.2rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#00ff66), to(#00ffff));
  background: linear-gradient(90deg, #00ff66, #00ffff);
}

/*以上為頁面標題*/
/*以下為極光熱點選單*/
.hotspot-list {
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  -webkit-transform: translate(89%, -50%) rotateY(180deg);
          transform: translate(89%, -50%) rotateY(180deg);
  right: 1%;
  z-index: 3;
}

.hotspot-list:hover {
  -webkit-transform: translate(0, -50%) rotateY(0deg);
          transform: translate(0, -50%) rotateY(0deg);
}

.hotspot-list span {
  text-align: center;
}

.hotspot-list .location-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.hotspot-list .location-menu li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotspot-list .location-menu li:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: #ffffff;
  right: 9px;
  bottom: -10px;
  z-index: -20;
}

.hotspot-list .location-menu li .location-btn {
  position: relative;
  width: 20px;
  height: 20px;
}

.hotspot-list .location-menu li .location-btn .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  opacity: 0.5;
  -webkit-transition: opacity 0.2s, cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s;
  transition: opacity 0.2s, cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.2s, cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s, opacity 0.2s, cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s;
}

.hotspot-list .location-menu li .location-btn .circle-border {
  position: absolute;
  width: 20px;
  height: 20px;
  clip: rect(0px, 20px, 20px, 0px);
  border: 2px solid #00ff66;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s;
  transition: cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s;
  transition: transform 0.5s, cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s, cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s;
}

.hotspot-list .location-menu li .location-btn:hover .circle {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #00ff66;
  opacity: 1;
}

.hotspot-list .location-menu li .location-btn:hover .circle-border {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.hotspot-list .location-menu li a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #3f3f3f;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  opacity: 0;
  -webkit-transform: translateX(150%) scale(0);
          transform: translateX(150%) scale(0);
  -webkit-transition: opacity 0.5s, cubic-bezier(0.78, 0.13, 0.72, 0.21), -webkit-transform 0.5s;
  transition: opacity 0.5s, cubic-bezier(0.78, 0.13, 0.72, 0.21), -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, cubic-bezier(0.78, 0.13, 0.72, 0.21);
  transition: transform 0.5s, opacity 0.5s, cubic-bezier(0.78, 0.13, 0.72, 0.21), -webkit-transform 0.5s;
}

.hotspot-list .location-menu li a:hover {
  color: #00ffff;
  border-color: #00ffff;
}

/*以上為極光熱點選單*/
/*以下為背景星星群*/
.scene {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.scene i {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 50%;
  -webkit-animation: rise linear infinite;
          animation: rise linear infinite;
}

@-webkit-keyframes rise {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

/*以上為背景星星群*/
/*# sourceMappingURL=layout.css.map */