@charset "UTF-8";
/*以下為Banner區 CSS*/
.banner {
  background-image: url(../img/qa/qa-banner-1920.jpg);
  width: 100%;
  height: 56.24vw;
  background-size: cover;
  background-position: center;
}

.banner p {
  font-size: 42px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .banner p {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .banner p {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .banner {
    background-image: url(../img/qa/qa-banner-576.png);
    height: 89.06vw;
  }
}

/*以上為Banner區 CSS*/
/*以下為常見問題區 CSS*/
.question {
  margin-top: 160px;
  /* Q&A區 CSS*/
}

.question .slogan {
  font-size: 42px;
  border: 3px solid;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding: 40px 10px;
  position: relative;
}

.question .slogan::before {
  content: '';
  position: absolute;
  width: 42px;
  height: 42px;
  top: -21px;
  left: -21px;
  background-color: #00ff00;
  border-radius: 50%;
  -webkit-box-shadow: 10px 21px 0 0 #00ffff;
          box-shadow: 10px 21px 0 0 #00ffff;
}

.question .question-explain h1 {
  font-size: 47.25px;
  color: #00ffff;
}

.question .question-explain h3 {
  font-size: 35.25px;
}

.question .question-explain p {
  font-size: 24px;
}

.question .accordion-item {
  background-color: rgba(0, 0, 0, 0);
}

.question .accordion-item .accordion-header {
  position: relative;
}

.question .accordion-item .accordion-header .dut {
  position: absolute;
  top: 50%;
  left: -40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #00ff00;
}

.question .accordion-item .accordion-header .dut::before {
  content: '';
  position: absolute;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/title-icon.svg);
  z-index: -1;
}

.question .accordion-item .accordion-header .accordion-button {
  font-size: 35.25px;
  color: #00fff0;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  padding: 1rem 0;
  border-bottom: 1px solid #00ffff;
}

.question .accordion-item .accordion-header .accordion-button::after {
  width: 32px;
  height: 32px;
  background-image: url(../img/qa-arrow.png);
  background-size: 32px;
}

.question .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url(../img/qa-arrow.png);
}

.question .accordion-item .accordion-body {
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.12);
}

.question .accordion-item .accordion-body h3 {
  color: #0099FF;
}

.question .accordion-item .accordion-body h4 {
  color: #33FF99;
}

@media (max-width: 992px) {
  .question {
    margin-top: 140px;
    /* Q&A區 CSS*/
  }
  .question .slogan {
    font-size: 32px;
    padding: 30px 8px;
    border: 2px solid;
  }
  .question .slogan::before {
    width: 32px;
    height: 32px;
    top: -16px;
    left: -16px;
    -webkit-box-shadow: 8px 16px 0 0 #00ffff;
            box-shadow: 8px 16px 0 0 #00ffff;
  }
  .question .question-explain h1 {
    font-size: 37.25px;
    color: #00ffff;
  }
  .question .question-explain h3 {
    font-size: 28px;
  }
  .question .accordion-item .accordion-header .dut {
    left: -30px;
    width: 12px;
    height: 12px;
  }
  .question .accordion-item .accordion-header .dut::before {
    width: 45px;
    height: 45px;
  }
  .question .accordion-item .accordion-header .accordion-button {
    font-size: 28px;
  }
  .question .accordion-item .accordion-header .accordion-button::after {
    width: 28px;
    height: 28px;
    background-size: 28px;
  }
}

@media (max-width: 768px) {
  .question {
    margin-top: 120px;
    /* Q&A區 CSS*/
  }
  .question .slogan {
    font-size: 24px;
    padding: 20px 5px;
    border: 2px solid;
  }
  .question .slogan::before {
    width: 24px;
    height: 24px;
    top: -12px;
    left: -12px;
    -webkit-box-shadow: 6px 12px 0 0 #00ffff;
            box-shadow: 6px 12px 0 0 #00ffff;
  }
  .question .question-explain h1 {
    font-size: 27.25px;
  }
  .question .question-explain h3 {
    font-size: 20px;
  }
  .question .question-explain p {
    font-size: 18px;
  }
  .question .accordion-item .accordion-header .dut {
    left: -30px;
    width: 12px;
    height: 12px;
  }
  .question .accordion-item .accordion-header .dut::before {
    width: 45px;
    height: 45px;
  }
  .question .accordion-item .accordion-header .accordion-button {
    font-size: 20px;
  }
  .question .accordion-item .accordion-header .accordion-button::after {
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
  .question .accordion-item .accordion-body {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .question {
    margin-top: 80px;
  }
  .question .slogan {
    font-size: 20px;
    padding: 20px 2px;
    border: 1px solid;
  }
  .question .slogan::before {
    width: 20px;
    height: 20px;
    top: -10px;
    left: -10px;
    -webkit-box-shadow: 4px 10px 0 0 #00ffff;
            box-shadow: 4px 10px 0 0 #00ffff;
  }
}

/*以上為常見問題區 CSS*/
/*以下聯絡我們區 CSS*/
.contact {
  margin-top: 160px;
}

.contact .slogan {
  font-size: 42px;
  border: 3px solid;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding: 40px 10px;
  position: relative;
}

.contact .slogan::before {
  content: '';
  position: absolute;
  width: 42px;
  height: 42px;
  top: -21px;
  left: -21px;
  background-color: #00ff00;
  border-radius: 50%;
  -webkit-box-shadow: 10px 21px 0 0 #00ffff;
          box-shadow: 10px 21px 0 0 #00ffff;
}

.contact .form-floating .form-control {
  background-color: #666666;
  border: none;
  border-radius: 0%;
  color: #ffffffd8;
  font-size: 24px;
}

.contact .form-floating label {
  color: #ffffffd8;
  font-size: 24px;
  line-height: 1;
}

.contact .form-floating textarea {
  height: 500px;
}

.contact button {
  width: 250px;
  font-size: 2rem;
  padding: 10px 0;
  color: #ffffffd8;
  border-radius: 0;
  background-color: #666666;
  margin: 3rem auto;
}

.contact button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.contact button:hover {
  color: #00ffff;
}

@media (max-width: 992px) {
  .contact {
    margin-top: 140px;
  }
  .contact .slogan {
    font-size: 32px;
    padding: 30px 8px;
    border: 2px solid;
  }
  .contact .slogan::before {
    width: 32px;
    height: 32px;
    top: -16px;
    left: -16px;
    -webkit-box-shadow: 8px 16px 0 0 #00ffff;
            box-shadow: 8px 16px 0 0 #00ffff;
  }
}

@media (max-width: 768px) {
  .contact {
    margin-top: 120px;
  }
  .contact .slogan {
    font-size: 24px;
    padding: 20px 5px;
    border: 2px solid;
  }
  .contact .slogan::before {
    width: 24px;
    height: 24px;
    top: -12px;
    left: -12px;
    -webkit-box-shadow: 6px 12px 0 0 #00ffff;
            box-shadow: 6px 12px 0 0 #00ffff;
  }
  .contact .form-floating .form-control {
    font-size: 20px;
  }
  .contact .form-floating label {
    color: #ffffffd8;
    font-size: 20px;
    line-height: 1;
  }
  .contact .form-floating textarea {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .contact {
    margin-top: 80px;
  }
  .contact .slogan {
    font-size: 20px;
    padding: 20px 2px;
    border: 1px solid;
  }
  .contact .slogan::before {
    width: 20px;
    height: 20px;
    top: -10px;
    left: -10px;
    -webkit-box-shadow: 4px 10px 0 0 #00ffff;
            box-shadow: 4px 10px 0 0 #00ffff;
  }
}

/*以上聯絡我們區 CSS*/
.aurora {
  position: relative;
}

.aurora::before {
  content: '';
  position: absolute;
  top: -30%;
  right: 0;
  width: 50%;
  height: 60vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/極光裝飾線條-右邊.svg);
  z-index: -2;
}

.aurora::after {
  content: '';
  position: absolute;
  bottom: -40%;
  left: -36%;
  width: 100%;
  height: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image: url(../img/極光裝飾線條-左邊.svg);
  z-index: -2;
}

@media (max-width: 1200px) {
  .aurora::before {
    top: -20%;
    right: 0;
    width: 40%;
    height: 60vw;
  }
  .aurora::after {
    bottom: -20%;
    left: -25%;
    width: 80%;
    height: 100vw;
  }
}

@media (max-width: 992px) {
  .aurora::before {
    top: -20%;
    right: 0;
    width: 50%;
    height: 70vw;
  }
  .aurora::after {
    bottom: -15%;
    left: 0;
    width: 80%;
    height: 150vw;
  }
}

@media (max-width: 768px) {
  .aurora::before {
    top: -10%;
    right: 0;
    width: 50%;
    height: 70vw;
  }
  .aurora::after {
    bottom: -5%;
    left: 0;
    width: 80%;
    height: 150vw;
  }
}
/*# sourceMappingURL=q_a.css.map */